{{> page/nav}}

<main role="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <a href="https://chicago.eater.com/" target="_blank">
                        <svg version="1.1" class="my-3" id="eater-logo" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="1.4 177.2 280.1 75.9"
                            enable-background="new 1.4 177.2 280.1 75.9" xml:space="preserve">
                            <g>
                                <path fill="#D61507"
                                    d="M1.4,206.3v14.3v9.1c0,12.9,10.5,23.4,23.4,23.4h23.4v-15.9H24.9c-4.2,0-7.6-3.4-7.6-7.6v-9.1h26.3v-14.3
                                                                                        		H17.3v-13.2h31v-15.9H1.4V206.3z"></path>
                                <path fill="#D61507"
                                    d="M174.2,206.3v14.3v9.1c0,12.9,10.5,23.4,23.4,23.4h23.4v-15.9h-23.4c-4.2,0-7.6-3.4-7.6-7.6v-9.1h26.3
                                                                                        		v-14.3h-26.3v-13.2h31v-15.9h-46.9V206.3L174.2,206.3z">
                                </path>
                                <polygon fill="#D61507" points="115.4,193.1 133.5,193.1 133.5,253.1 149.4,253.1 149.4,193.1 167.5,193.1 167.5,177.2 
                                                                                        		115.4,177.2 	"></polygon>
                                <path fill="#D61507"
                                    d="M56.7,200.6v52.5h15.9v-22.9l20.3-5.1v28h15.9v-75.9H80.1C67.2,177.2,56.7,187.7,56.7,200.6 M92.9,210.8
                                                                                        		L72.6,216v-15.3c0-4.2,3.4-7.6,7.6-7.6h12.8L92.9,210.8L92.9,210.8z">
                                </path>
                                <path fill="#D61507"
                                    d="M281.5,202.6c0-3.3-0.6-6.6-1.9-9.7c-1.2-3-3-5.7-5.3-8c-2.2-2.3-4.9-4.2-7.9-5.5c-3.2-1.4-6.5-2.1-10-2.1
                                                                                        		h-26.9v75.7h15.8v-25.2h10.9c0.8,0,1.6,0,2.4-0.1l8.6,25.3h14.3l-10.2-30.2C277.5,218.3,281.5,210.9,281.5,202.6 M256.3,212h-10.9
                                                                                        		v-18.8h11l0.6,0.1c4.9,0.4,8.7,4.5,8.7,9.3C265.7,207.8,261.5,212,256.3,212">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <ul class="story-list">
                        {{#each eater}}
                        {{> home/stories}}
                        {{/each}}
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="https://techcrunch.com/" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/TechCrunch_logo.svg"
                            alt="TechCrunch" class="my-3" id="tc-logo">
                    </a>
                    <ul class="story-list">
                        {{#each tc}}
                        {{> home/stories}}
                        {{/each}}
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="https://www.theringer.com/" target="_blank">
                        <svg version="1.1" class="my-3" id="ringer-logo" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 242.4 71.5"
                            enable-background="new 0 0 242.4 71.5" xml:space="preserve">
                            <g>
                                <circle fill="#67C385" cx="-775.9" cy="-56.3" r="35.7"></circle>
                                <g>
                                    <polygon
                                        points="-846,-63.9 -846,-60 -842.8,-60 -842.8,-49.5 -837.7,-49.5 -837.7,-60.2 -834.6,-60.2 -834.6,-63.9 		">
                                    </polygon>
                                    <polygon points="-831.1,-63.9 -831.1,-49.5 -826.3,-49.5 -826.3,-54.9 -822.9,-54.9 -822.9,-49.5 -818,-49.5 -818,-63.9 
                    			-822.9,-63.9 -822.9,-58.8 -826.3,-58.8 -826.3,-63.9 		"></polygon>
                                    <polygon points="-814.4,-63.9 -814.4,-49.5 -803.4,-49.5 -803.4,-53.2 -809.5,-53.2 -809.5,-55 -804.4,-55 -804.4,-58.7 
                    			-809.6,-58.7 -809.6,-60.5 -803.4,-60.5 -803.4,-63.9 		"></polygon>
                                    <path
                                        d="M-760.1-48.3l4.2-3.2v-16l-6.5-6.2h-23v33.5h11.3v-7l4.8,7h14.3L-760.1-48.3z M-766.9-58h-7.2v-5.4h7.2V-58z">
                                    </path>
                                    <path
                                        d="M-608.7-48.3l4.2-3.2v-16l-6.5-6.2h-23v33.5h11.3v-7l4.8,7h14.3L-608.7-48.3z M-615.6-58h-7.2v-5.4h7.2V-58z">
                                    </path>
                                    <rect x="-750.6" y="-73.6" width="11" height="33.5"></rect>
                                    <polygon points="-714.1,-73.6 -714.1,-61 -723.2,-73.6 -734.2,-73.6 -734.2,-40.1 -723.2,-40.1 -723.2,-53.6 -714.1,-40.1 
                    			-703.1,-40.1 -703.1,-73.6 		"></polygon>
                                    <polygon
                                        points="-639.4,-64.3 -639.4,-73.6 -652.6,-73.6 -663.6,-73.6 -663.6,-64.3 -663.6,-49.4 -663.6,-40.1 -663.6,-40.1 
                    			-639.4,-40.1 -639.4,-49.4 -652.6,-49.4 -652.6,-52.8 -640.7,-52.8 -640.7,-60.9 -652.6,-60.9 -652.6,-64.3 		">
                                    </polygon>
                                    <polygon points="-668.8,-63.1 -668.8,-69 -674.2,-73.6 -692.6,-73.6 -698.1,-69.4 -698.1,-44.8 -692.6,-40.1 -674.2,-40.1 
                    			-668.8,-44.8 -668.8,-51.8 -668.8,-52.8 -668.8,-60.4 -683.4,-60.4 -683.4,-51.8 -679.8,-51.8 -679.8,-49.4 -687.1,-49.4 
                    			-687.1,-64.3 -679.7,-64.3 -679.7,-63.1 		"></polygon>
                                </g>
                            </g>
                            <g>
                                <circle fill="#67C385" cx="70.1" cy="35.7" r="35.7"></circle>
                                <g>
                                    <polygon fill="#000000"
                                        points="0,28.1 0,32 3.1,32 3.1,42.5 8.2,42.5 8.2,31.8 11.4,31.8 11.4,28.1 		">
                                    </polygon>
                                    <polygon fill="#000000" points="14.9,28.1 14.9,42.5 19.6,42.5 19.6,37.1 23,37.1 23,42.5 28,42.5 28,28.1 23,28.1 23,33.2 
                    			19.6,33.2 19.6,28.1 		"></polygon>
                                    <polygon fill="#000000" points="31.6,28.1 31.6,42.5 42.6,42.5 42.6,38.8 36.5,38.8 36.5,37 41.6,37 41.6,33.3 36.3,33.3 
                    			36.3,31.5 42.6,31.5 42.6,28.1 		"></polygon>
                                    <path fill="#000000"
                                        d="M85.9,43.7l4.2-3.2v-16l-6.5-6.2h-23v33.5h11.3v-7l4.8,7h14.3L85.9,43.7z M79.1,34h-7.2v-5.4h7.2V34z">
                                    </path>
                                    <path fill="#000000"
                                        d="M237.2,43.7l4.2-3.2v-16l-6.5-6.2h-23v33.5h11.3v-7l4.8,7h14.3L237.2,43.7z M230.4,34h-7.2v-5.4h7.2V34z">
                                    </path>
                                    <rect x="95.4" y="18.4" fill="#000000" width="11" height="33.5"></rect>
                                    <polygon fill="#000000" points="131.9,18.4 131.9,31 122.7,18.4 111.7,18.4 111.7,51.9 122.7,51.9 122.7,38.4 131.9,51.9 
                    			142.9,51.9 142.9,18.4 		"></polygon>
                                    <polygon fill="#000000" points="206.6,27.7 206.6,18.4 193.4,18.4 182.4,18.4 182.4,27.7 182.4,42.6 182.4,51.9 182.4,51.9 
                    			206.6,51.9 206.6,42.6 193.4,42.6 193.4,39.2 205.2,39.2 205.2,31.1 193.4,31.1 193.4,27.7 		">
                                    </polygon>
                                    <polygon fill="#000000" points="177.2,28.9 177.2,23 171.7,18.4 153.4,18.4 147.9,22.6 147.9,47.2 153.4,51.9 171.7,51.9 
                    			177.2,47.2 177.2,40.2 177.2,39.2 177.2,31.6 162.6,31.6 162.6,40.2 166.1,40.2 166.1,42.6 158.9,42.6 158.9,27.7 166.2,27.7 
                    			166.2,28.9 		"></polygon>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <ul class="story-list">
                        {{#each ringer}}
                        {{> home/stories}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>