<main role="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        {{#each stories}}
                        {{> home/stories}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>