{{> page/nav}}

<main role="main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="saved-story-list">
                        {{#each stories}}
                        {{> saved/saved-stories}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>