body {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.form-group.required label:after {
  content:"*";
  color: #dc3545;
}

.navbar {
    padding-right: 65px;
    padding-left: 65px;
}

.navbar .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #999;
}

main {
    padding: 65px;
}

#eater-logo {
    max-width: 129px;
    max-height: 35px;
}

#tc-logo {
    max-width: 70px;
    max-height: 35px;
}

#ringer-logo {
    max-width: 119px;
    max-height: 35px;
}

.story-list li, .saved-story-list-item {
    padding: 4px 0;
    border-bottom: 1px solid #dfe1e5;
    font-size: 0.9rem;
}

.story-list li p {
    font-size: 0.75rem;
}

.story, .saved-story {
    display: flex;
    align-items: center;
}

.save-btn, .comment-btn, .remove-btn {
    border: none;
    background-color: transparent;
}

.save-btn, .comment-btn {
    margin-left: auto;
}

.save-btn, .comment-btn {
    color: #007bff;
}

.save-btn:hover, .save-btn:active, .comment-btn:hover, .comment-btn:active {
    color: #0056b3;
}

.save-btn:focus, .comment-btn:focus, .remove-btn:focus {
    outline: none;
}

.remove-btn {
    color: #dc3545;
}

.remove-btn:hover, .remove-btn:active {
    color: #c82333;
}

.comment-list {
    border-bottom: 1px solid #dfe1e5;
}

.comment-author {
    font-size: 0.75rem;
    font-weight: 600;
}

.comment-text {
    color: #666;
    font-size: 0.8rem;
}

.comment-form label, .comment-form input, .comment-form textarea {
    font-size: 0.8rem;
}

.optional {
    font-size: 0.75rem;
    color: #999;
}

.submit-btn {
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .navbar {
        padding-right: 20px;
        padding-left: 20px;
    }

    main {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 720px;
    }
}