body {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.form-group.required label:after {
  content:"*";
  color: #dc3545;
}

.navbar {
    padding-right: 65px;
    padding-left: 65px;
}

.navbar .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand {
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #999;
}

main {
    padding: 65px;
}

#eater-logo {
    max-width: 129px;
    max-height: 35px;
}

.story-list li, .saved-story-list li {
    padding: 4px 0;
    border-bottom: 1px solid #dfe1e5;
    font-size: 0.9rem;
}

.story-list li {
    display: flex;
    align-items: center;
}

.save-btn, .remove-btn {
    border: none;
    margin-left: auto;
    background-color: transparent;
}

.save-btn {
    color: #007bff;
}

.save-btn:hover, .save-btn:active {
    color: #0056b3;
}

.save-btn:focus, .remove-btn:focus {
    outline: none;
}

.saved-story {
    display: flex;
    align-items: center;
}

.remove-btn {
    color: #dc3545;
}

.remove-btn:hover, .remove-btn:active {
    color: #c82333;
}