<nav class="navbar navbar-expand mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">Stories</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Stories</a>
            </li>
        </ul>
    </div>
</nav>